section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #000;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: transparent;
  transform: translateX(-50%);
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 5px 0px;
}

.scroll-btn.active {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background-color: #202020;
  z-index: 100;
}

.scroll-btn {
  display: none;
  /* position: fixed; */
  /* right: 20px; */
  /* bottom: 20px; */
  /* width: 30px; */
  /* height: 30px; */
  /* border: 2px solid #000; */
  /* background-color: #202020; */
  /* z-index: 100; */
}
